.env
test/ollama_test/prompt.txt
test/mistral_test/prompt.txt
mistral_test/venv/
venv/

src/models/__pycache__/
src/services/__pycache__/
src/ui/__pycache__/
src/controllers/__pycache__/
src/models/__pycache__/
./__pycache__/
.codex
.vscode/
.agents